services:
  postgres:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: puzzle_academy
      PGDATA: /data/postgres
    ports:
      - 5432:5432
    volumes:
      - ./data/pg:/data/postgres

  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: puzzle
      RABBITMQ_DEFAULT_PASS: puzzle
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq

  # api:
  #   build: .
  #   ports:
  #     - '3000:3000'
  #   environment:
  #     DATABASE_URL: postgresql://user:password@postgres:5432/puzzle_academy
  #     RIOT_API_KEY: ${RIOT_API_KEY}
  #   depends_on:
  #     - postgres

volumes:
  pg_data:
  rabbitmq_data:
