version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: puzzle_academy
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data
  api:
    build: .
    ports:
      - '3000:3000'
    environment:
      DATABASE_URL: postgresql://user:password@postgres:5432/puzzle_academy
      RIOT_API_KEY: ${RIOT_API_KEY}
    depends_on:
      - postgres

volumes:
  postgres_data:
